<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理用户</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/jquery-1.11.0.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/delete_colls.js}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" th:href="@{css/index.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <h5>用户收藏</h5>
    </div>
    <div class="row" th:unless="${#strings.isEmpty(ok)}">
        <p class="alert alert-success" th:text="${ok}"></p>
    </div>
    <div class="row">
        <form class="form-row" th:action="@{/listcollections}" id="form1" method="post">
            <div class="form-group">
                <label>关键字</label>
                <input type="text" placeholder="请输入关键字进行搜索" name="kw" th:value="${kw}">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="搜索">
                <input type="hidden" name="ids" value="" id="deleteids">
                <button type="button" class="btn btn-danger delbtns">删除</button>
            </div>
        </form>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>序号</th>
                <th>古诗名</th>
                <th>作者名</th>
                <th>类别</th>
                <th>收藏时间</th>
                <th>--</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u : ${pages.content}">
                <td>
                    <input type="checkbox" th:value="${u.id}" class="cid">
                    <span th:text="${uStat.count}"></span>
                </td>
                <td th:text="${u.poetryname}" ></td>
                <td th:text="${u.poetname}" ></td>
                <td th:text="${u.type}"></td>
                <td th:text="${u.time}"></td>
                <td><a th:href="@{|/collshow/${u.id}|}">查看</a>
                    <a th:href="@{|/deletecoll/${u.id}|}" class="delbtn">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" th:fragment="pager">
        <nav><!--分页碎片需要的数据：1、查询结果数据用pages作为关键字，且是分页查询
                    2、当前网址必须是查询页面-->
            <ul class="pagination">
                <li class="page-item" th:each="p:${#numbers.sequence(1,pages.totalPages)}">
                    <a href="javascript:void (0);" th:page="${p-1}" class="page-link pagelink" th:text="${p}"></a>
                </li>
            </ul>
        </nav>
        <script type="text/javascript">
            $(".pagelink").click(function () {
                var f=$("#form1");
                var p=$("<input type='hidden' name='page'>");
                $(p).val($(this).attr("page"));
                //var s=$("<input type='hidden' name='size' value='1'>");
                //$(s).appendTo(f);
                $(p).appendTo(f);
                $(f).submit();
                return false;
            })
        </script>
    </div>
</div>
</body>
</html>